<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Administracion</title>
</head>

<body>
    <h2>Administración de Novedades</h2>
    <br>
    <a class="btn btn-primary" href="/crear">Nuevo</a>
    <br><br>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Lugar</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Introducción</th>
                            <th scope="col">Información detallada</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla">
                        
                    </tbody>
                </table>    
            </div>
    </div>
    </div>
    </main>


    
  
    <script src="../static/js/administracion.js"></script>
</body>

</html>